:host{
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

tr:nth-child(even){
    background-color: hsla(0, 0%, 0%, .1);
}

.orders{
    width: 100%;
}

.assigned-to{
    display: flex;
    justify-content: space-between;
}

.searchbar{
    margin: 40px 0;
    text-align: center;
}