<form 
  class="searchbar"
  (ngSubmit)="onSearch()">
  <input 
    [formControl]="searchForm"
    placeholder="Find orders">
  <button type="submit">Search</button>
</form>

<ng-container *ngIf="workOrders$ | async as workOrders; else loading">

  <table class="orders" *ngIf="workOrders.length != 0; else noContent">
    <tr>
      <th>WO ID</th>
      <th>Description</th>
      <th>Received date</th>
      <th>Assigned to</th>
      <th>Status</th>
      <th>Priority</th>
    </tr>
  
    <tr 
      *ngFor="let workOrder of workOrders"
      class="order">
      <td>{{workOrder.work_order_id}}</td>
      <td>{{workOrder.description}}</td>
      <td>{{workOrder.received_date}}</td>
      <td>
        <div 
          *ngFor="let assignedTo of workOrder.assigned_to"
          class="assigned-to">
          <div>{{assignedTo.person_name}}</div>
          <div>{{assignedTo.status}}</div>
        </div>
      </td>
      <td>{{workOrder.status}}</td>
      <td>{{workOrder.priority}}</td>
    </tr>
  
  </table>
  
  <ng-template #noContent>
    <p>No data found</p>
  </ng-template>

</ng-container>

<ng-template #loading>
  <p>Loading data</p>
</ng-template>
